<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
        </style> 
    <title>Document</title>
</head>
<body class="bg-[#deddda]">
    <!-- ACA EMPIEZA EL ENCABEZADO 'HEADER' -->
    <header class="bg-[#9a9996] flex justify-between items-center h-32">
        <img src="" alt="Logo">
        <nav class="text-[#3d3846] w-1/2 mr-8">
            <ul class="flex justify-between">
                <li class="hover:text-[#deddda]"><a href="">INICIO</a></li>
                <li class="hover:text-[#deddda]"><a href="">QUIENES SOMOS?</a></li>
                <li class="hover:text-[#deddda]"><a href="">TALLERES Y CURSOS</a></li>
                <li class="hover:text-[#deddda]"><a href="">PROFESIONALES</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Main</h1>
    </main>














    <!-- ACA EMPIEZA EL FOOTER -->
    
    <footer class="flex flex-col bg-[#9a9996] h-[90vh]">

        <div class="flex flex-col items-center">
            <img class="h-32 mt-20" src="" alt="logo">
        </div>
        <div class="flex justify-center">
            <h1>CONTACTO</h1>
        </div>
        <ul class="underline flex justify-center gap-12 mt-12 pb-12">
            <li>
                <a hr">Informacion Legal</a>
            </li>
            <li>
                <a href="https://tailwindcss.com/docs/height">Politica de Privacidad</a>
            </li>
        </ul>
    </footer>
    
</body>
</html>